# ==========================
# Node / Server
# ==========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

.vscode

# Runtime files
*.log
.DS_Store

# ==========================
# Keys (keep folder, remove contents)
# ==========================
# ignore all files inside /keys/
keys/*

# but do NOT ignore the folder itself
!keys/
# allow example placeholder if needed
!keys/.gitkeep

# ==========================
# App-specific sensitive files
# ==========================
data/*
!data/

# Backup files
*.bak
*.tmp

# ==========================
# Build / Cache
# ==========================
dist/
build/
.cache/

# Pepa commands
aaa_coms