.clock, .clock * {
  box-sizing: border-box;
}
.clock {
  background: #202125;
  height: 480px;
  position: relative;
  overflow: hidden;
  pointer-events: none;
}
.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
}
.time {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 128px;
  line-height: 90%;
  font-weight: 700;
  position: absolute;
  left: 100px;
  top: 154px;
  width: 600px;
  height: 172px;
}
.date {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 32px;
  line-height: 90%;
  font-weight: 700;
  position: absolute;
  left: 278px;
  top: 282px;
  width: 243px;
  height: 44px;
}
